html{
    /* width: 99vw; */
    background-color: rgb(236, 236, 236);
}


.nav {
    padding-left: 0;
    /* background-color: rgb(0, 0, 0); */
    margin-top: 10px;
    /* width: 100vw; */
    max-height: 50px;
}
.nav a {
    display: inline;
    list-style-type: none;

}

.blackground {
    background-color: black;
    height: 100px;
}

.bottom_black {
    transform: translate(0px, -20px);
    max-height: 25px;
}

.blackground .translate {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    float: right;
    padding-top: 15px;
    padding-left: 20px;
    transform: translate(60px, 0px);
}

.add_to_cart {
    transform: translate(110px, -40px);

}

.blackground p {
    color: white;
    margin-top: 50px;
  margin-top: 50px;
  transform: translate(10px, 80px);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  display: block;

}

.float_right {
    float: right;
    transform: translate(-20px, -40px);
}
.container {
    /* width: 100vw; */
    margin: 0 auto;
    background-color: rgb(236, 236, 236);
    display: block;
    margin: auto;
}
.content {
    /* float: left; */
    width: 80%;
}
.sidebar {
    float: left;
    width: 20%;
}

.rounded {
    border-radius: 10px;
}

.text_container {
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 5px;
    width:70vw;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.text_white {
    color: rgb(31, 31, 31);
    text-align: center;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.site-text {
    display: block;
    margin: auto;

}

.site-text p {
    display: block;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;

}

.specials_container {
    display: block;
    margin: auto;
    /* width: 100vw; */
    margin-top: 100px;
    /* margin-left: 15%; */
}

.daily_specials {
    display: block;
    margin: auto;
    /* width: 780px; */
    transform: translate(20px, 0px);

}

iframe {
    display: block;
    width: 710px;
    height: 500px;
    margin: auto;
    /* margin-top: 80px; */
    box-shadow: 10px 10px 10px rgb(161, 159, 159);

    /* margin-left: -20px; */
}

.daily_specials_inner {
    /* padding-left: 60px; */
    /* padding: 20px; */
    display: inline-block;
    /* height: 250px; */
    /* margin: auto; */
    border-color: black;
    border-style: solid;
    margin: 10px;
    border-width: 1px;
    box-shadow: 10px 10px 10px rgb(161, 159, 159);
    /* background-color: rgba(0, 0, 0, 0.336); */
    z-index: 0;


}

.daily_specials_inner a {
   width: 20px;
   text-decoration: none;
}

.daily_specials_inner img {
    padding: 10px;
    width: 200px;
    margin: auto;


}

.video {
    margin-top: 100px;
}

.comment {
    height: 100px;
}

.sticky {
    position: fixed;
    top: 0;
    width:100%;
    z-index: 1;
    margin-top: 0px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.308);

  }

  .hide{
      display: none;
  }

  .sticky  .content-2 {
    top: 0;
    z-index: 1;
    transform: translate(-60px, 0px);
  }

.contact {
    background-color: rgb(131, 130, 130);
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: 1px;
    width: 500px;
    padding-bottom: 20px;
    margin: auto;
    margin-top: 100px;



}

.daily_specials_inner figure {
    width: 200px;
    /* display: inline-block; */
}

.daily_specials_inner figcaption {
    text-decoration: none;
    color: white;
    max-width: 200px;
    text-align: center;
}

.featured_product {
    background-image: url(/media/10.JPG);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 470px;
    /* width: 100vw; */
    padding-top: 40px;
    padding-bottom: 40px !important;
}

.text {
    padding-top:2vw;
}

.content_container img {
    /* width: 100vw; */
}

.dropdown {
    float: right;
    font-family: Arial, Helvetica, sans-serif;

  }

  .dropbtn {
    /* transform: translate(200px 0px); */
    position: inherit;
  }

  .translate-2 {
margin-right: -70px;
  }

  .sticky .dropbtn {
      transform: translate(-200px 0px);
      margin-right: 50px;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    padding: 15px 16px;
    background-color: inherit;
    font-family: inherit;
  }


  .navbar a:hover, .dropdown:hover .dropbtn {
      font-family: Arial, Helvetica, sans-serif;
      /* float: right; */
    background-color: rgb(109, 109, 109);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 175px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translate(0px, 0px);
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;}

@media only screen and (max-width: 600px) {
    .featured_product {
      background-size: 200%;
      background-attachment: scroll;
    }

    .specials_container {

        margin: auto;
        width: 100%;
        margin-top: 40px;
    }
    .daily_specials {
        width: 100%;
        margin: auto;
        margin-top: 15px;
    }

    .nav {
        display: none;
    }

    iframe {
        width: 360px;
height: 200px;
margin-left: -20px;
    }

    .daily_specials img {
        width: 100%;
        margin: auto !important;
        padding: 0px;

    }
  }